###############################################################################
# DJANGO
###############################################################################
DJANGO_SECRET_KEY=sua-chave-secreta-aqui
DJANGO_DEBUG=True

# Lista de hosts permitidos para acessar a aplicação.
DJANGO_ALLOWED_HOSTS=hostA,hostB

# Host do servidor SMTP utilizado para envio de e-mails.
EMAIL_HOST=email-host

# Porta utilizada pelo servidor SMTP.
EMAIL_PORT=numero-porta

# Usuário utilizado para autenticação no servidor SMTP.
EMAIL_HOST_USER=usuario-host

# Senha utilizada para autenticação no servidor SMTP.
EMAIL_HOST_PASSWORD=senha-host

# URL base da aplicação frontend utilizada na construção dos links.
FRONTEND_URL=url-front

###############################################################################
# BANCO DE DADOS
###############################################################################

# URL de conexão utilizada pelo Django.
URL_BANCO_POSTGRES=postgresql://usuario:senha@host:porta/banco


##############################################################################
# INTEGRAÇÂO COM APIS
##############################################################################
SME_API_EOL_URL=sua-url-api
SME_API_EOL_TOKEN=seu-token

###############################################################################
# APLICAÇÃO (Container Docker)
###############################################################################
# Porta da aplicação Django no computador host.
PORT_WEB=porta-django

# Porta utilizada pelo Debugpy para depuração remota (VS Code, PyCharm, etc.).
PORT_DEBUGPY=porta-debug


###############################################################################
# POSTGRES (Container Docker)
###############################################################################

# Nome do banco que será criado quando o container iniciar pela primeira vez.
POSTGRES_DB=banco

# Usuário administrador do banco.
POSTGRES_USER=usuario

# Senha do usuário administrador.
POSTGRES_PASSWORD=senha

# Nome do serviço Docker responsável pelo banco.
POSTGRES_HOST=host

# Porta interna utilizada pelo PostgreSQL dentro do container.
POSTGRES_PORT=porta

# Porta exposta na máquina host
POSTGRES_HOST_PORT=porta

###############################################################################
# CELERY (Container Docker)
###############################################################################
# URL do broker de mensagens utilizado pelo Celery para enfileirar tarefas.
CELERY_BROKER_URL=url-brocker

# URL do backend de resultados utilizado pelo Celery para armazenar o status e resultado das tarefas.
CELERY_RESULT_BACKEND=url-backend-brocker

# Número de processos worker que o Celery irá executar simultaneamente.
CELERY_CONCURRENCY=valor-numerico

# Nível de logging do Celery (DEBUG, INFO, WARNING, ERROR, CRITICAL).
CELERY_LOG_LEVEL=nivel-log

# Hostname do serviço KeyDB (banco de dados em memória, alternativa ao Redis).
KEYDB_HOST=host-keydb

# Porta interna do KeyDB dentro do container.
KEYDB_PORT=porta-keydb

# Porta do KeyDB exposta na máquina host.
KEYDB_HOST_PORT=porta-host-keydb

# Porta do Flower (interface web de monitoramento do Celery) interna dentro do container
FLOWER_PORT=porta-flower

# Porta do Flower (interface web de monitoramento do Celery) exposta na máquina host.
FLOWER_HOST_PORT=porta-host-flower
