###############################################################################
# DJANGO
###############################################################################
DJANGO_SECRET_KEY=sua-chave-secreta-aqui
DJANGO_DEBUG=True
# Lista de hosts permitidos para acessar a aplicação.
DJANGO_ALLOWED_HOSTS=hostA,hostB

###############################################################################
# BANCO DE DADOS
###############################################################################

# URL de conexão utilizada pelo Django.
URL_BANCO_POSTGRES=postgresql://usuario:senha@host:porta/banco


##############################################################################
# INTEGRAÇÂO COM APIS
##############################################################################
SME_API_EOL_URL=sua-url-api
SME_API_EOL_TOKEN=seu-token

###############################################################################
# APLICAÇÃO (Container Docker)
###############################################################################
# Porta da aplicação Django no computador host.
PORT_WEB=porta-django

# Porta utilizada pelo Debugpy para depuração remota (VS Code, PyCharm, etc.).
PORT_DEBUGPY=porta-debug


###############################################################################
# POSTGRES (Container Docker)
###############################################################################

# Nome do banco que será criado quando o container iniciar pela primeira vez.
POSTGRES_DB=banco

# Usuário administrador do banco.
POSTGRES_USER=usuario

# Senha do usuário administrador.
POSTGRES_PASSWORD=senha

# Nome do serviço Docker responsável pelo banco.
POSTGRES_HOST=host

# Porta interna utilizada pelo PostgreSQL dentro do container.
POSTGRES_PORT=porta

# Porta exposta na máquina host
POSTGRES_HOST_PORT=porta
